<form action = "/process_roll">
  
  <label for="label_one">How many dice?</label>
  <input id="label_one" name="dice" type="text">

  <label for="label_two">How many sides per dice?</label>
  <input id="label_two" name="sides" type="text">
  
  <button>Roll<button>
</form>
