<h1>Dice Roll</h1>
<p></p>

<form action = "/process_roll">
  
  <label for="label_one">Number of dice to roll?</label>
  <input id="label_one" name="dice" type="text">

  <label for="label_two">How many sides per die?</label>
  <input id="label_two" name="sides" type="text">
  
  <button>Roll!<button>
</form>
